.errorContainer{
    /* overflow: hidden; */
    background: url("../../../public/assets/error.jpg" ) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    width: 100vw;
    height: 100vh;

}

