.homeContainer {
  min-height: 100vh;
  // width: 100vw;
  // display: block;
  // margin-top:15px;
  top:50px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: url(https://wallpaperaccess.com/full/417644.jpg) no-repeat center
    center/cover;
  // overflow-y: scroll;
  // overflow: hidden;

  .homeMain{
    // position: absolute;
    // top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .wishing {
    margin-bottom: 15px;
  }

  .actionbar {
    width: 80vw;
    display: block;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .logout {
      height: 20%;
      .logoutBtn {
        border-radius: 10px;
        background-color: #434ddf;
        color: #ffff;
        padding: 10px;
        border: none;
        // margin-left: auto !important;
        float: left;


        &:hover {
          background-color: #0e9eb1;
          color: #ffff;
        }
      }
    }
    .newRecord {
      //   width: 30%;
      background: none repeat;
      margin-bottom: 20px;
      // border: 2px solid green;
      border-radius: 10px;
      background-color: none;
      padding: 10px;
      text-align: right;
      float: right;

      .addRecord {
        color:  white;
        font-size: 15px;
        font-weight: 300;

        &:hover{
          background-color: #4ab10e;
          color: black;
        }
      }
    }
  }
  .editRecord {
    color: #000000;
  }

  .table {
    width: 80vw;
    // height: auto;
  }
}
