.addRecordContainer {
    width: 100vw;
    height: 100vh;
    margin: 10px;
    display: flex;
    justify-content: center;
  
    .form {
      width: 50%;
      display: flex;
      justify-content: center;
      .column {
        box-shadow: 0 0 10px rgb(0 0 0 / 30%);
        height: fit-content;
        margin-top: 25px;
        padding: 10px 40px;
        background: lavender;
        .title {
          text-align: center;
          margin-top: 15px;
          font-family: cursive;
        }
      }
    }
  }
  